Source: ros-kinetic-ouster-client
Section: misc
Priority: extra
Maintainer: Serhan Cosar <scosar@lincoln.ac.uk>
Build-Depends: debhelper (>= 9.0.0), libjsoncpp-dev, libjsoncpp1, ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-ouster-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libjsoncpp-dev, libjsoncpp1
Description: The os1_client package
